@using Newtonsoft.Json
@using smashing72_manager.Models
@{
    var menu = ((List<Content>) ViewBag.Menu).Select(m => new {m.Title, m.MenuTitle, m.MenuOrder, m.UrlSegment, m.ParentContentId, m.Id, m.DataType});
    var contentPage = new {ViewBag.Content.DataType, ViewBag.Content.Title};
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="~/css/main.css?cb=@DateTime.Now.Ticks" rel="stylesheet">
    <title>Smashing '72 - Diemen Volleybal</title>
</head>
<body>
<div id="app">
    <smashing-header :menu="appData.menu"></smashing-header>
    @RenderBody()
    <smashing-footer></smashing-footer>
</div>

@Html.Partial("VueTemplates/_all")

<script data-main="/scripts/main" src="~/scripts/require.js"></script>

<script type="application/json" id="app-data">
    {
    "menu": @Html.Raw(JsonConvert.SerializeObject(menu)),
    "contentPage": @Html.Raw(JsonConvert.SerializeObject(contentPage)),
    "html": "@Html.Raw(ViewBag.Html.Replace("\"", "\\\"").Replace("</", "<\\/").Replace("/>"," />"))"
    }
</script>
</body>
</html>
